*{
	margin: 0;
	padding: 0;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	clear: left;
	width: 99%;
	max-width: 960px;
	margin: 0 auto 0;
	border: 3px solid #931420;
	background-color: #fffded;
}

html {
	background-color: white;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-left: 1em;
	background-image: linear-gradient(30deg,#f6bb73 0%,#f6bb73 30%,white 50%,#f6bb73 80%,#f6bb73 100%);
}
header h2{
	font-size: 170%;
	color: #800000;
}
header img {
	float: left;
	padding-right: 0.105%;
	padding-left: 0.105%;
}
/* the styles for the section */
section {
	width: 58.6875%;
	float: right;
	padding-left: 2.84%;
	padding-right: 2.84%;
	padding-bottom: 20px;
}
aside {
	width: 22.3959%;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

main {
	clear: left;
}
main h1 {
	font-size: 150%;
	padding-top: .25em;
	padding-bottom: .5em;
	margin: 0;
}
main article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: solid 2px #800000;
	border-bottom: solid 2px #800000;
}
article img {
	max-width: 40%;
	min-width: 150px;
	float: right;
	margin: 1px;
	border: solid 1px black; 
}
article h2{
	padding-top: 0;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}
main h2{
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}
main h3{
	font-size: 105%;
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
	padding-top: 1em;
}
main p {
	padding-bottom: .5em;
}
main blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
main ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}
main li {
	padding-bottom: .35em;
}
/* mouse over link */
a:hover {
	font-style: italic;
}
/* the styles for the nav menu*/
#nav_menu ul {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
	display: block;
	width: 100%;
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}
#nav_menu ul li a.current {
	color: yellow;
}
#nav_menu {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 13.334%;
}
#nav_menu ul ul li {
	float: none;
	width: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu>ul::after {
	content: "";
	display: block;
	clear: both;
}
#list {
	list-style-type: circle;
}
/* section rule set */
main section {
	float: none;
	width: 94.32%;
}
/* aside rule set */
aside {
	float: none;
	padding-right: 2.84%;
	width: 94.32%;
}
/* max width of img changed */
article img {
	max-width: 30%;
}
/* div properties to arrange speakers in 2 columns */
aside div {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
/* the styles for the footer */
footer p{
	text-align: center;
	background-color: #931420;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
}
/* media query for portrait view */
@media only screen and (max-width: 959px) {
	main section h1 {
		font-size: 135%;
	}
	main section h2 {
		font-size: 120%;
	}
}
/* media query for landscape oreintation */
@media only screen and (max-width: 767px) {
	header img {
		float: none;
	}
	header {
		text-align: center;
	}
}